{% extends "base.html" %} {% load static %} {% block content %}
<!-- content starts here -->
<div class="container">
  <h1>Meals</h1>

  {% for meal in meal_list %}
  <!-- <div class="card-body">
  <h3 class="card-title">Name: {{meal.name}}</h3>
  <p class="card-text">Type: {{meal.meal_type}}</p>
  <img src="{{ meal.image.url }}">
</div> -->

<div class="col-md-6 p-3">
  <div class="card-group">
  <div class="card align-items-center text-center">
    <img src="{{ meal.image.url}}" class="img-fluid meal-image" alt="{{ meal.name }}">
    <div class="card-body">
      <h5 class="card-title">{{ meal.name }}</h5>
      <p class="card-text text-wrap">{{ meal.description }}</p>
      <p class="card-text"><small class="text-muted">{{ meal.meal_type }}</small></p>
    </div>
  </div>

 </div>
  </div>


    {% endfor %}
  </div>

  <!-- content ends here -->
  {% endblock content %}
</div>
